


#photo{
    font-size: 30px;
    border: 1px solid gray;
    padding:10px;
    text-decoration: underline;
}

.first {
    background-image: url('https://i.postimg.cc/QdQth5VZ/Screen-Shot-2021-01-29-at-3-12-26-PM.png');
    background-size: 325px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.1s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
    /* margin-left: 100px; */
}

.first:hover {
    background-size: 150px;
}


.second {
    background-image: url('https://www.maxim.com/.image/t_share/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.10s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
    /* margin-left: 100px; */
}

.second:hover {
    background-size: 150px;
}
.third {
    background-image: url('https://i.postimg.cc/3RBmRVR7/Screen-Shot-2021-01-29-at-3-07-11-PM.png');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.10s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    /* margin-left: 100px; */
    white-space:nowrap;
}

.third:hover {
    background-size: 150px;
}
.fourth {
    background-image: url('https://www.maxim.com/.image/t_share/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.jpg');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.10s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    /* margin-left: 100px; */
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    /* white-space:nowrap; */
}

.fourth:hover {
    background-size: 150px;
}
