




.first {
    background-image: url('https://www.utig.org/uploads/1/2/7/3/12737062/published/finance-trivia-hbb220.png?1566323042');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
    background-clip: border-box;
    transition: background-size 0.1s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.first:hover {
    background-size: 100px;
}

.second {
    background-image: url('https://www.maxim.com/.image/t_share/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
    background-clip: border-box;
    transition: background-size 0.10s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: block;
    width: 300px;
    height: 300px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.second:hover {
    background-size: 100px;
}
